.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}
body {
     overflow-x: hidden; /* Hide scrollbars */
 }
 .logo-image{
   height: 70%;
   width: 70%;
   margin: auto;
   display: flex;
 }
 .homepage-video{
   width: 90%;
 }
 #wrapper {
   padding: 100px;
 }

 .video-head>h1 {
    font-size: 72px;
    font-family: PublicoHeadline-Bold-Web;
    font-weight: 800;
    line-height: 72px;
 }
 .btn-big {
    padding: 12px 25px;
     border-radius: 25px;
 }
 .login-text {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
 }
 .home-tool {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: #044a75;
    padding: 35px 50px;
    color: #fff;
    margin-top: 30px;
 }
 .home-tool > div {
    padding: 30px;
 }
 .home-tool > div >p {
    margin-top: 20px;
 }
 .rating-image {
    max-width: 400px;
    margin: auto;
 }
 .home-rating{
    background-color: #eeeceb;
    padding-top: 20px;
 }
 .home-rating-head {
    padding: 20px 75px;
 }
 .feature-img {
    height: 100px;
 }
 .h2-head{
    font-size: 60px;
    font-family: PublicoHeadline-Bold-Web;
    font-weight: 800;
    line-height: 66px;
 }
 .container-tools {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 60px;
 }
 #div-center{
   width: 35%;
   margin: auto;
}
.price-parent{
   display: grid;
   width: 80%;
   margin: auto;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(1, 600px);
   gap: 25px;
   margin-top: 80px;
}
 .container-el {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0px 20px;
 }
 .container-tool {
    width: 80%;
    margin: auto;
 }
 .tool-img {
    display: inline-flex;
 }
 .tool-img>img {
    padding-right: 10px;
 }
 #price-front {
   height: 100vh;
   background-color: #044a75;
 }
 #price-front h1 {
   font-size: 72px;
   font-family: PublicoHeadline-Bold-Web;
   font-weight: 800;
   line-height: 72px;
   color: #fff;
   padding-top: 40px;
}
.price-p {
   color: #fff;
   font-size: 20px;
}
#price-plan {
   font-size: 40px;
   font-weight: 600;
}
.price-checkpoint {
   display: -webkit-inline-box;
}
 .social-media-footer>a>img {
    width: 50px;
 }
 footer .sib-footer-columns ul li a{
    display: block;
    text-decoration: none;
    font-family: OpenSans-Regular;
    color: #606469;
    font-size: 16px;
    line-height: 26px;
 }
 .rounded {
   border-radius: 25px !important;
}
.dropdown-menu.show{
   min-width: max-content;
   padding: 10px;
}
.dropdown-item{
   margin-top: 5px;
}
       
.email-head {
   width: 40%;
   margin: auto;
}
.email-head h1 {
   font-family: PublicoHeadline-Bold-Web;
   font-weight: bold;
   font-size: 45px;
}
.email-img {
   width: 80%;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 100px;
}
.email-section{
   background-color: #f1efee;
   padding-bottom: 100px;
}
.email-accordian{
   width: 80%;
   margin: auto;
}
.email-accord-head {
   width: 40%;
   padding-top: 50px;
}
.communicate-image{
   width: 80%;
}
.communicate-text{
   width: 50%;
}
.right-align-img{
   text-align: end;
}
.sales-crm-image{
   height: 80%;
   width: 70%;
}
.crm-bussiness-img {
   height: 90%;
   width: 70%;
}
.crm-head{
   width: 70%;
   margin: auto;
   margin-top: 70px;
}
.marketing-stategy{
   width: 40%;
   margin: auto;
   margin-top: 100px;
}
.random-img{
   background-image: url(https://www.sendinblue.com/wp-content/themes/sendinblue2019/assets/images/marketing-newsletter/form-background.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
   padding-bottom: 40px;
   height: 400px;
}
.ready-merketing-digit {
   margin: auto;
   width: 60%;
   margin-top: 100px;
}
@media all and (min-width: 320px) and (max-width: 767px) {
   .home-tool{
      width: 100%;
      flex-direction: column
   }
   .home-head>div>h3{
      margin-bottom: 30px;
   }
   .rating-image{
      max-width: 300px;
   }
   .video-head{
      top: 0%;
      left: 15%;
      display: flex;
      flex-direction: column;
   }
   #div-center{
      width: 70%;
   }
   .price-parent{
      grid-template-columns: repeat(1,1fr);
   }
   .email-head {
      width: 80%;
      margin: auto;
   }
   .email-head h1 {
      font-family: PublicoHeadline-Bold-Web;
      font-weight: bold;
      font-size: 35px;
   }
   .email-img {
      width: 80%;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 100px;
   }
   .email-section{
      background-color: #f1efee;
      padding-bottom: 100px;
   }
   .email-accordian{
      width: 80%;
      margin: auto;
   }
   .email-accord-head {
      width: 70%;
      padding-top: 50px;
   }
   .communicate-image{
      width: 80%;
      margin-top: 30px;
      margin-bottom: 20px;
   }
   .car-image {
      display: flex;
      justify-content: center;
   }
   .communicate-text{
      width: 100%;
   }
   .right-align-img{
      text-align: center;
  }
  .sales-crm-image{
   display: flex;
   justify-content: center;
   width: 80%;
   margin: auto;
  }
  .crm-bussiness-img{
   margin: auto;
   display: flex;
  }
  .crm-head{
   width: 80%;
  }
  .marketing-stategy{
   width: 80%;
   }
   .random-img{
      margin-top: 20px;
   }
   .ready-merketing-digit {
      margin: auto;
      width: 90%;
  }
  .footer-logo{
   display: flex;
    justify-content: center;
    text-align: center;
  }
}

 